body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.wrapper{
    background: rgb(255, 248, 246);
    background:  url(../images/swirl.svg), linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 251, 225, 1) 0%, rgb(197, 222, 193) 100%);
    background-size: 40%, cover;
    background-repeat: no-repeat;
    background-position: top right, center;
    padding:5% 10%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
h1 span{
font-size:6rem;
display: block;
line-height: 1;
}